body {
    color: cornflowerblue;
        
}
html {
    scroll-behavior: smooth;
}
#White-hat-jr {
    height: 400px;
}
#Schoolname  {
    background-color: bisque
}
#Principle {
    height: 300;
}

